@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "calibre";
    src: local('calibre'), url('./fonts/calibre/CalibreSemibold.otf') format('otf');
} */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'calibre';
    src: local('calibre'),url('./fonts/calibre/CalibreRegular.otf') format('otf');
}
@font-face {
    font-family: 'sf-mono';
    src: local('sf-mono'),url('./fonts/sf-mono/SFMonoRegular.otf') format('otf');
}

@layer base {
    body {
        @apply font-[calibre];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.write-mode-vertical{
    writing-mode: vertical-rl;
}